swagger: "2.0"
info:
  version: 10.0.0
  title: Public API
  description: Mobile and web proxy API gateway.
host: localhost
basePath: /
schemes:
  - https
paths:
  "/info":
    x-swagger-router-controller: ServerInfoController
    get:
      operationId: getServerInfo
      summary: Runtime server info
      description: >
        Returns runtime information about the server.
      responses:
        "200":
          description: Runtime server info.
          schema:
            $ref: "#/definitions/ServerInfo"
          examples:
            application/json:
              version: "0.0.1"
              min_app_version: "0.0.0"
              min_app_version_pagopa: "0.0.0"

  "/test-response/{testinput}":
    get:
      summary: Test return value. 
                If 1 - return 200 
                if 2 - return 400
                otherwise - return 404
      operationId: testResponseValues
      description: |
        An endpoint to test input and reponse type
      parameters:
        - $ref: "#/parameters/TestInput"
      responses:
        "200":
          description: The return value
          schema:
            $ref: "#/definitions/TestInput"
        "401":
          description: Wrong or missing function key.
        "404":
          description: Not found.

parameters:
  TestInput:
    name: testinput
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true

definitions:
  ServerInfo:
    type: object
    title: Server information
    properties:
      version:
        type: string

  TestInput:
    type: object
    title: A test input
    properties:
      value:
        type: integer

  TestResponseType:
    type: object
    title: ResponseType dummy information
    properties:
      returnValue:
        type: integer
